<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>TRS</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar">
      <nav>
        {% for item in nav.top %}
          <a class="{{ 'active' if item.is_active else '' }}" href="{{ item.url }}">{{ item.label }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="content">
    {% block body %}{% endblock %}
  </div>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
  </body>
</html>
