<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="inner_content">
      <h2>Update Google Chrome</h2><br>

      <h3>Host-by-host basis (Manually)</h3>
      <ol class="instructions">
        <li>
          In the address bar, type <b>chrome://settings/help</b>. Or
        </li>
        <li>
          Click on the <img src="{{ url_for('static', filename='css/three-dots-vertical.svg') }}" alt="three-dot"> icon at the top-right corner of the browser.
        </li>
        <li>
          Hover over <b>Help</b> and select <b>About Google Chrome</b>.
        </li>
        <li>
          Google Chrome should automatically start to check for updates. If there are, click <b>Relaunch</b> or simply close and reopen the browser to apply the updates.
      </ol>
      <br>

      <h3>Bulk updates (Automatic)</h3>
      <ol class="instructions">
        <li>
          Download either of the googlechrome scripts <a href="scripts">here</a> and execute it in the machine's Windows Command Prompt or PowerShell.
        </li>
      </ol>
    </div>
  </body>
</html>
